.imgproduct {
  width: 100%;
}

.itemflex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textname {
  font-size: 1.4rem;
  text-align: center;
  font-style: italic;
  margin-top: 0.5rem;
}

.textprice {
  font-size: 1.1rem;
  color: #868e96;
  font-style: italic;
}

.itemflex img {
  cursor: pointer;
}

.itemflex img:hover,
.itemflex img:active {
  opacity: 0.6;
}
